/*
Moduel: Member
*/

html,body,div,span,li,ul,a,p,i,input,button,select,option {
font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
}

.form-required {
color: red;
font-family: SimSun;
font-size: 14px;
margin-right: 6px;
}
/*
sidebar
*/
.sidebar {
	font-size:18px;
	
}

.sidebar a {
	text-decoration:none;
	
}

.sidebar-fu {
	height:35px;
	background:#EFF8FF;
	border:1px solid #ccc;
	border-right:none;
	border-left:none;
	padding:4px 20px;
}
.sidebar-adv {
	width:74px;
	height:70px;
	border:1px solid #ccc;
	margin-top:-35px;
}

.sidebar-adc {
	width:38px;
	height:35px;
	float:right;
	margin-top:35px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:#EFF8FF;
	
}

.sidebar-adc i {
	padding:8px;
	font-size:20px;
	color:DimGray;
}

.sidebar-ava img{
	width:72px;
	height:68px;
	padding:1px;
}
.sidebar-man{
	background-color:#F8F8F8;
	padding:15px 0px 15px 0px;
}

.sidebar-lv {
	padding:5px 20px;
	font-size:10px;
	
}

.sidebar-rd1 {
	font-size:12px;
	margin:5px;
}

.sidebar-cd{
	height:28px;
	margin-top:10px;
}

.sidebar-cd:hover{
	border-top:1px solid #D9534F;
	border-bottom:1px solid #D9534F;
	background:OldLace;
	height:40px;
	padding:6px;
}

.sidebar-cd i{
	padding-left:40px;
	color:DimGray;
}

.sidebar-cd span{
	padding-left:10px;
	color:black;
}

.sidebar-ld {
	float:left;
	margin:10px;
}

.sidebar-ld1 {
	font-size:18px;
	color:DimGray;
}

.sidebar-ld2 {
	font-size:12px;
	color:LavenderBlue;
}

/*
contents menu
*/
.con-me {
	font-size:15px;
	width:100%;
	height:35px;
	border-bottom:1px solid #ccc;
}

.con-me1 {
	width:93px;
	float:right;
	border:1px solid #ccc;
	background:#F8F8F8;
	margin:1px;
	padding:5px;
	text-align:center;
	border-bottom:none;
	color:Black;
}

.con-me2 {
	width:188px;
	float:left;
	margin:1px;
	padding:5px;
	text-align:center;
	font-size:18px;
	border-bottom:none;
}

.con-me1:hover {
	background:OldLace;
	
}

.con-xy{
	width:93px;
	float:left;
	border:1px solid #ccc;
	background:#F8F8F8;
	margin:1px;
	padding:5px;
	text-align:center;
	border-bottom:none;
	color:Black;
}

.con-xyh {
	width:100px;
	float:left;
	margin:1px;
	padding:5px;
	text-align:center;
	font-size:18px;
	border-bottom:none;
}

.sidebar .tool-tip{
	min-height:30px;
	border-bottom:1px dashed #ccc;
}

.sidebar .tool-tip i{
	color:green;
	padding:0px 15px;
}

.sidebar .tool-tip i span{
	font-size:12px;
	color:red;
	margin:0px 5px;
}

.certification{
	font-size:14px;
	font-family:"幼圆";
	padding:10px 15px;
}

.certification input{
	border-style:inset;
}

.certification select{
	font-size:12px;
}
.certification p{
	color:#989898;
	font-size:12px;
}

.certification p span{
	color:red;
	font-size:12px;
}

.certification .upload{
	border-style:none; 
	font-size:12px;
	color:#989898; 
}

.certification i{
	color:green;
}

.certification i span{
	color:#989898;
}
/*
central man
*/
.page-rule {
	background-color:#F8F8F8;
	border:1px solid #ccc;
}

.lev{
	min-height:35px;
	border-bottom:1px solid #ccc;
	padding-top:5px;
	margin:0px;
}
.lev i{
	font-size:14px;
	color:green;
	padding-top:5px;
}
.lev i span{
	color:black;
	margin-left:10px;
}

.container .sidebar .borrow{
	border:1px solid #ccc;
	background-color:#FFFBE2;
}

/*
	Member/Index/index
*/

.page-rule .lev i,
.page-rule .lev .xinyong .jindu span,
.page-rule .lev .xinyong .jindutiao{
float:left;
}
.page-rule .cred .detail a,
.page-rule .cred .detail a:hover,
.page-rule .lev .xinyong .jindu a:hover,
.page-rule .lev .xinyong .jindu a{
	color:black;
	font-size:14px;
	color: #686868;
}
.page-rule .lev .xinyong .jindu span{
	padding:2px 5px;
}

.page-rule .lev .xinyong .jindutiao{
	width: 100px;
	height: 10px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	margin-top:8px;
}

.cred {
	padding:10px 15px;
}

.cred .usaccount{
	font-size: 14px;
	color: #989898;
}

.page-rule .cred .detail a span,
.cred .usaccount span{
	font-size: 24px;
	color:#FF6600;
	padding-left:5px;
	font-weight:300;
}

.page-rule .cred .detail span{
	font-size:14px;
	color:#ccc; 
}

.page-rule .cred .usoperation{
	margin-top:10px;
	border:1px solid #ccc;
	width:272px;
	height:30px;
	border-radius:5px;
	border-right:none;
}
.page-rule .cred .usoperation a .operation{
	float:left;
	border-right:1px solid #ccc;
	width:90px;
	text-align:center;
	font-size:14px;
	color:#989898;
	padding-top:5px;
	height:29px;
}

.page-rule .cred .right a i{
	font-size:12px;
	height: 14px;
	width: 14px;
	padding-right:5px;
}

.page-rule .cred .right a{
	font-size:12px;
	color:black;
	font-weight:800;
}

.page-rule .cred .right a span{
	color:#FFA500;
	padding-left:110px;
}

.page-rule .cred .right a:hover{
	color:#FFA500;
}

.page-rec{
	margin-top:10px;
}
.page-rec .header{
	background-color: #EFF8FF;
	height: 30px;
	margin:0px;
	padding:3px 15px;
	border:1px solid #ccc;
	border-bottom: none;
}

.page-rec .header span{
	font-size:14px;
	font-weight:700;
	color:#585858;
}

.page-rec .table{
	padding:0px;
	margin: 0px;
}

.page-rule .cred .newuser,
.page-rule .cred .olduser{;
	font-size:14px;
	color:#989898;
}

.page-rule .cred .newuser{
	float:left;
}

.page-rule .cred .olduser{
	text-align:right;
}

.page-rule .cred .LV{
	border:1px solid #ccc;
}
.page-rule .cred .LV .LVD,
.page-rule .cred .LV .LVC,
.page-rule .cred .LV .LVB,
.page-rule .cred .LV .LVA{
	width: 25%;
	float:left;
	text-align: center;
	font-size:10px;
	color:white;
	height:22px;
	padding-top:2px;
}

.page-rule .cred .LV .LVD{
	background-color:#D9534F;
}

.page-rule .cred .LV .LVC{
	background-color:#F0AD4E;
}

.page-rule .cred .LV .LVB{
	background-color:#5BC0DE;
}

.page-rule .cred .LV .LVA{
	background-color:#5CB85C;
}
.sidebar .table table tbody{
	border:1px solid #ccc;
	border-bottom:none;
	border-left:none;
}

.sidebar .table table .LVA{
	background-color: #DFF0D8;
}
.sidebar .table table .LVA tr th:hover,
.sidebar .table table .LVA tr:hover{
	background-color: #D0E9C6;
}

.sidebar .table table .LVB{
	background-color: #FFFFFF;
}

.sidebar .table table .LVB tr:hover{
	background-color: #F5F5F5;
}

.sidebar .table table .LVC{
	background-color: #FCF8E3;
}

.sidebar .table table .LVC tr:hover{
	background-color: #FAF2CC;
}

.sidebar .table table .LVD{
	background-color: #F2DEDE;
}

.sidebar .table table .LVD tr:hover{
	background-color: #EBCCCC;
}

.sidebar .table table tbody tr th{
	border-bottom:none;
	background: none;
	font-weight:100;
	font-size:12px;
	color:black;
}

.sidebar .table table tbody tr td{
	padding: 5px 15px;
	font-size: 12px;
	line-height: 18px;
}
/*
	forminfo
*/
.inform1{
	background-color:#F8F8F8;
	padding:30px 20px;
	font-size:15px;
}

.inform1 input,select{
	border-style:inset;
}

.inform1 .personal {
	margin-top:20px;
}
.inform1 .personal .state{
	
}

.inform1 .personal .state i{
	color:green;
}

.inform1 .personal .state i span{
	padding-left:5px;
	color:#989898;
}

.form-span-font {
	color:DimGray;
	font-size:14px;
}