
/* -------------------------
/*  BOXES¿ò¼Ü
/* ---------------------------------------------------------------- */
/*.km-box {
	background: white;
	margin:10px 0px;
}
*/

.header h3 {
	margin: 0;
	padding-top:5px;
	border-right:1px solid #dfdfdf;
}

/*.km-box .header h3:first-child {
	width: 209px;
	border-right: 1px solid #dfdfdf;
	margin-right: 10px;
}*/
.header h4{
	margin: 0;
	padding-top:7px;
}
.header h4 span{
	margin: 0;
	padding-top:5px;
	font-size:14px;
}
 .inner {
	position: ;
	min-height: auto;
}
 .inner .left{
 	border:1px solid #ccc;
 }

/* -------------------------
/*  SIDEBAR²à±ßµ¼º½À¸
/* ---------------------------------------------------------------- */

#sidebar {
	width: 110%;
	height: auto;
	/*position:absolute;*/
	top:0; left: 0;
	margin: 0;
	padding: 0;
	
	list-style-type: none;
	
	font-size: 16px;
	color: #222;
	background: white;
	
}

/* NOTE: Fix layout with long text */
#sidebar li {
	margin: 0 0 0 -10px;
	padding:0px;
	position: relative;
	padding-left: 0px;
	border: 1px solid #dfdfdf;
	border-right:none;
	line-height: 30px;
	cursor:pointer;
}

#sidebar li:first-child {
	border-right:1px solid #dfdfdf;
}

#sidebar li i{
	padding-left: 10px;
}

#sidebar li span{
	padding-left: 10px;
}

/*#sidebar li:last-child {
	border-bottom: 0;
}*/

#sidebar li:hover {
	background: CornFlowerBlue;
	color:white;
}

#sidebar ul{
	height: 0;
	overflow:hidden;
}

#sidebar li.active {
	color: #fff;
	text-shadow: 1px 1px 1px #444;
	background: CornFlowerBlue;
	font-weight: bold;
}

/*#sidebar > li.active:after {
	content: '';
	display: block;
	width: 1px;
	height: 0;
	position: absolute;
	top: 0;
	right: -12px;
	border-style: solid;
	border-width: 15px 0 15px 12px;
	border-color: transparent transparent transparent #F08080;
}*/

/* -------------------------
/*  SIDEBAR SUBMENUS²à±ßÀ¸×Ó²Ëµ¥
/* ---------------------------------------------------------------- */
#sidebar li.active ul {
	padding-left:10px;
	height:auto;
	color: #555;
	font-weight: normal;
	text-shadow: none;
	list-style: none;
	/*margin: 0 0 0 10px;*/
	padding: 0;
	background: #FFB6C1;
	border-bottom: 1px solid #ddd;
}

#sidebar li.active ul li {
	border-top: 1px solid white;
	border-bottom: 1px solid #ccc;
	color: #333;
	background-color: white;
	transition: padding 150ms ease-in-out;
	-ms-transition: padding 150ms ease-in-out;
	-moz-transition: padding 150ms ease-in-out;
	-webkit-transition: padding 150ms ease-in-out;
}
#sidebar li.active ul li:hover{
	background-color: silver;
}
/* TODO: Eliminate overrides */
/* TODO: Find a better highlight */
#sidebar li.active ul li.active  {
	background:inherit;
	color: black;
	text-shadow: 1px 1px 1px #eee;
	padding-left: 15px;
	color: #333;
	background: silver;
}

#sidebar li.active ul li:before {
	padding-left: 10px;
	content: '↳';
}

#sidebar li.active ul li:first-child {
	border-top: 0;
}

#sidebar li.active ul li:last-child {
	border-bottom: 0;
}

/*----------------测试-------------------*/
[class^="fas-"],
[class*="fas-"] {
	display: inline-block;
	background-image: url(../img/backgroundimg.png);
}

.ico {
	width: 81px;
	height: 20px;
	padding:0px;
	margin: 0px;
}

.weixin{
	width:102px;
	height:102px;
	margin:0px;
	padding:1px;
	border:1px solid #ccc;
	border-style:inset;
}
.ico-star{
	width: 100px;
	height: 20px;
	padding:0px;
	margin: 0px;
}
.fas-d1{
	background-position:0px -1px;
}
.fas-d2{
	background-position:0px -21px;
}
.fas-d3{
	background-position:0px -41px;
}
.fas-d4{
	background-position:0px -61px;
}
.fas-d5{
	background-position:0px -81px;
}

.fas-c1{
	background-position:-80px -1px;
}

.fas-c2{
	background-position:-80px -21px;
}

.fas-c3{
	background-position:-80px -41px;
}

.fas-c4{
	background-position:-80px -61px;
}

.fas-c5{
	background-position:-80px -81px;
}

.fas-b1{
	background-position:-160px -1px;
}

.fas-b2{
	background-position:-160px -21px;
}

.fas-b3{
	background-position:-160px -41px;
}

.fas-b4{
	background-position:-160px -61px;
}

.fas-b5{
	background-position:-160px -81px;
}

.fas-a1{
	background-position:-240px -1px;
}

.fas-a2{
	background-position:-240px -21px;
}

.fas-a3{
	background-position:-240px -41px;
}

.fas-a4{
	background-position:-240px -61px;
}

.fas-a5{
	background-position:-240px -81px;
}

.fas-onebluediam{
	background-position:-418px -1px;
}

.fas-twobluediam{
	background-position:-418px -22px;
}

.fas-threebluediam{
	background-position:-418px -44px;
}

.fas-fourbluediam{
	background-position:-418px -66px;
}

.fas-fivebluediam{
	background-position:-418px -87px;
}

.fas-onebluecrown{
	background-position:-519px -1px;
}

.fas-twobluecrown{
	background-position:-519px -23px;
}

.fas-threebluecrown{
	background-position:-519px -44px;
}

.fas-fourbluecrown{
	background-position:-519px -66px;
}

.fas-fivebluecrown{
	background-position:-519px -88px;
}

.fas-oneredcrown{
	background-position:-622px -1px;
}

.fas-tworedcrown{
	background-position:-622px -22px;
}

.fas-threeredcrown{
	background-position:-622px -44px;
}

.fas-fourredcrown{
	background-position:-622px -87px;
}

.fas-fiveredcrown{
	background-position:-622px -87px;
}

.fas-onegolcrown{
	background-position:-726px -1px;
}

.fas-twogolcrown{
	background-position:-726px -21px;
}

.fas-threegolcrown{
	background-position:-726px -43px;
}

.fas-fourgolcrown{
	background-position:-726px -65px;
}

.fas-fivegolcrown{
	background-position:-726px -86px;
}
.fas-onestar{
	background-position:-325px 0px;
}

.fas-twostar{
	background-position:-325px -20px;
}
.fas-threestar{
	background-position:-325px -40px;
}
.fas-fourstar{
	background-position:-325px -60px;
}
.fas-fivestar{
	background-position:-325px -82px;
}

.fas-weixin{
	background-position:-228px -102px;
}
/*----------------测试------------------*/

/* -------------------------
/*  CONTENT AREAÄÚÈÝÇøÓò
/* ---------------------------------------------------------------- */

#content {
	padding: 0px 0px 30px 18px;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #222;
	min-height: 600px;
	margin-top:50px; 
}

#content section, #content article {
	display: none;
}

#content section.active, #content article.active {
	display: block;
}

#content .ucenter-uc,
#content .ucenter{
	border:1px #dfdfdf solid;
	background-color:#F8F8F8;
	border-bottom:none;
}

#content .ucenter .xinyong{
	border-bottom:1px solid #ccc;
	margin: 0px;
	height: 40px;
	padding-top:10px;
}

#content .ucenter .xinyong i{
	color: green;
}
#content .ucenter .xinyong i span{
	color: black;
	padding-left:10px;
	font-size:12px;
}

#content .ucenter .xinyong a{
	color: #663300;
	font-size:12px;
}

#content .ucenter .xinyong a:hover{
	text-decoration:none;
}
#content .ucenter h4,
#content .ucenter h5,
#content .ucenter .money a{
	color: #808080;
}

#content .ucenter .img{
	border-right:1px solid #ccc;
    margin-top:7px;
}

#content .ucenter .img img{
	padding-top:5px;
}

#content .ucenter .using{
	padding-top:25px;
	margin-right:-80px; 
}


#content .ucenter .using h5:hover{
	color:#FFA500;
}

#content .ucenter .using i{
	width: 15px;
}
#content .ucenter .using i,
#content .ucenter .using h5{
	float: left;
	color:black;
	font-size: 12px;
	margin: 0px;
	padding-left:5px;
}
#content .ucenter .using h5 span{
	padding-left:90px;
}

#content .ucenter .using a:first-child h5 span{
	padding-left:78px;
}
#content .ucenter .bt{
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	background-color: #4D90FE;
	border-radius:10px;
	margin: 5px;
	color: white;

}

#content .ucenter .bt:first-child{
	margin-top: 10px;
}
#content .ucenter .bt:hover{
	background-color:#0362FD; 
}
#content .ucenter .money a:hover{
	text-decoration:none;
}
#example-wrapper {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1280px;
}

#example {
	padding: 50px;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #ccc;
	background: white;
	border-radius: 7px;
}



section ol, section ul, section ol li, section ul li, section p, section > div, article > div {
	margin: 20px 0px 0px 0px;
}

section li p,
section ol li:first-child,
section ul li:first-child,
section .nomargin > *,
article .nomargin > *
section li li,
section > *:first-child,
article > *:first-child,
.table-header ul,
.table-header ul li  {
	margin-top: 0px;
}

table thead:first-child tr th:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

table thead:first-child tr th:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table-header {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table {
	border: 1px solid #ccc;
	margin-top: 20px;
	border-radius: 4px;
}

.table .table-header {
	height: 16px;
	padding: 4px 0;
	border-bottom: 1px solid #ccc;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
}

.table .table-header h4 {
	color: #333;
}

.table .table-header span {
	display: block;
	float: left;
	margin-left: 8px;
	color: #888;
	text-shadow: 0 1px 1px white;
}

.table .table-header ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.table .table-header ul li {
	display: inline-block;
	margin-left: 8px;
	text-shadow: 0 1px 1px white;
	color: #333;
	cursor: pointer;
}

.table .table-header ul li.active {
	border: 1px solid #444;
	padding: 0 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 1px white;
	-moz-box-shadow: 0 1px 1px white;
	box-shadow: 0 1px 1px white;
	color: white;
	text-shadow: 0 1px #333;
	line-height: 14px;
	background: #464646; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDY0NjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #464646 0%, #646464 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#646464)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #464646 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #464646 0%,#646464 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #464646 0%,#646464 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #464646 0%,#646464 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#646464',GradientType=0 ); /* IE6-8 */
}

.table table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	font-family: Arial, seif;
	font-size: 13px;
}

.table th {
	text-shadow: 0 1px 1px white;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 15px;
	color:#585858;
	font-size: 12px;
	line-height: 18px;
	background: #f5f5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb',GradientType=0 ); /* IE6-8 */

}

.table th:last-child { border-right: 0; }

.table td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:0px 15px;
}

tr td:first-child {
	/*font-weight: bold;*/
}

td.c {
	white-space: nowrap;
}

.table td:last-child { border-right: 0; }
.table tr:last-child td { border-bottom: 0; }

/* LEGEND */

.km-legend {
	margin: 10px 0;
	padding: 0;
}

.km-legend li, .km-tag {
	display: inline-block;
	margin: 10px 10px 0px 0px;
	padding: 0 5px;
	color: white;
	font-family: Arial, serif;
	font-size: 11px;
	line-height: 16px;
	border-radius: 4px;
	text-transform: uppercase;
}


.km-legend li.title {
	color: #333;
	text-transform: none;
	font-weight: bold;
	font-size: 13px;
}

.red { background: #ff3429; }
.orange { background: #efa90f; }
.blue { background: #6093ff; }
.green { background: green; }

/* NOTIFICATION */
.km-notification {
	margin-top: 10px;
	border: 1px solid #dedede;
	padding: 5px;
	border-radius: 4px;
	font-size: 13px;
	color: #444;
	line-height:24px;
}

.km-notification.info {
	border: 1px solid #98c7f4;
}

.km-notification.rning {
	border: 1px solid #e25b4f;
}

.km-notification span {
	font-size: 18px;
	display:block;
	float: left;
	margin-right: 5px;
}

.km-notification.info span { color: #6da9e2; }
.km-notification.warning span { color: #e25b4f; }

.figure {
	margin: 5px 10px 20px 10px;
	font-style:italic;
	font-size:12px;
	text-align: right;
	color: #555;
}

#content .syntaxhighlighter  {
	margin: 0 !important;
}

.code {
	background: #eee;
	border: 1px solid #ccc;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #bbb;
	padding: 0px 4px;
	border-radius: 3px;
	white-space: nowrap;
}

.ls-popup {
	width: 300px;
	height: 150px;
	position: absolute;
	padding: 5px;
	background: white;
	background: rgba(255,255,255,.8);
	border-radius: 7px;
	color: #eee;
	z-index: 6000;
	box-shadow: 0px 5px 30px -5px black;
}

.ls-popup .inner {
	width: 300px;
	height: 150px;
}

/*UCright*/
.inner .ucleft{
	margin-top: 10px;
	padding:0px;
	width: 116%;
	margin-left:-10px; 

}

.inner .ucheader-cn{
	margin-top:10px;
}

.inner .ucheader-cn .ucheadercenter{

}

.inner .ucheader-cn .ucheadercenter .photo{
	border:1px solid #ccc;
	border-bottom:none;
	width: 67px;
	height: 70px;
	float: left;
}

.inner .ucheader-cn .ucheadercenter .icon{
	width:120px;
	height: 30px;
	border-top:1px solid #ccc;
	float: left;
	margin-top:40px;
	background-color:#D6DCEC;
}

.inner .ucheader-cn .ucheadercenter .icon .icon-img{
	margin: 0px;
	padding:0px;
	width: 23%;
	height: 29px;
	border-right:1px solid #ccc;
	cursor:pointer;
}

.inner .ucheader-cn .ucheadercenter .icon .icon-img i{
	padding:5px;
}

.inner .ucheader-cn .ucheadercenter .photo img{
	width: 65px;
	height:68px;
	padding:2px;
}

.inner .ucheader-cn .ucmanage{
	border:1px solid #ccc;
	clear:both;
}
.inner .ucheader-cn .ucmanage h5:first-child{
	padding:5px;
	font-weight:900;
}

.inner .ucheader-cn .ucmanage h5{
	padding:5px;
	font-size:12px;
}
.inner .ucheader-cn .ucmanage h5 span{
	font-size: 12px;
	color:#FFA500;
	padding-left:15px;
}

.inner .ucheader-cn .ucmanage h5 i{
	margin-left:50px;
}

.inner .ucleft-cn{
	margin-top:10px;
	border:1px solid #ccc;
}

.inner .ucleft-cn:last-child{
	margin-top:0px;
	border-bottom:none;
}
.inner .ucleft-cn .ucleftcenter{

}
.inner .ucleft-cn .usingcenter{
	background-color:RoyalBlue;
	border-bottom:1px solid #ccc;
	height:30px;
	padding-top:3px;
}

.inner .ucleft-cn .usingcenter h4{
	margin:0px;
	text-align: center;
	color:white;
}

.inner .ucleft-cn .usingcenter-manage i{
	padding-top:5px;
	padding-left:20px;
}

.inner .ucleft-cn .usingcenter-manage span{
	font-weight: bold;
	font-size:12px;
}

.inner .ucleft-cn .usingcenter-manage a{
	color:black;
}

.inner .ucleft-cn .usingcenter-manage a:hover{
	color:#FFA500;
}

.inner .ucleft-cn .attention p{
	font-size:14px;
	font-family: '黑体';
	font-weight:900;
	color:#9B9B9B;
	padding:5px;
}

.inner .ucleft-cn .attention span{
	color: #DB3A1B;
	padding-left:30px;
}

.inner .ucleft-cn .attention img{
	padding-left:30px;
}

/*进度条*/
#content .ucenter .photo{
	width:100px;
	height:100px;
	border:1px black solid; 
	margin:20px 10px; 
	background-color:white;
}

#content .ucenter .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:120px;
	background:white;
	border:1px black solid;
	height:12px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

#content .ucenter .skillbar-bar {
	height:10px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#content .ucenter .renzheng{
	clear: both;
	width: 195px;
	height: 40px;
	background-color:#FFFFFF;
	margin-bottom:5px;
}
#content .ucenter .renzheng img{
	width:35px;
	height:30px;
	margin:5px; 
	cursor: pointer;
}

#content .ucenter h4 span{
	font-size:15px;
	color:#FFAA00;
}

#content .ucenter h5 span{
	color:#FFAA00;
	/*font-weight: bold;*/
}

#content .ucenter .theader h5,
#content .ucenter .theader-uc h5
{
	font-weight: bold;
}

#content .ucenter .table tr,{
	border:none;
}

#content .ucenter-uc .theader-uc{
	background-color:#EFF8FF;
	margin: 0px;
	padding:0px;
	/*border-bottom:1px solid #ccc;*/
}
#content .ucenter .theader{
	background-color:#EFF8FF;
	margin: 0px;
	padding:0px;
}
#content .ucenter-uc .table,
#content .ucenter .table{
	padding: 0px;
	margin: 0px;
	border-left:none;
	border-right:none;
}

.ttable table thead tr,
.ttable table thead td,
.ttable table thead th,
/*#content .ucenter-uc .table table tbody tr,
#content .ucenter-uc .table table tbody td,
#content .ucenter-uc .table table tbody th,*/{
	border:1px #CCC solid;
}
#content .ucenter .table table thead tr{
	border-bottom:1px #CCC solid;
}

#content .ucenter-uc .table table tbody tr:last-child,
#content .ucenter .table table tbody tr:last-child{
	border-bottom:none;
}



#content .ucenter .ucenter-accounts{
	font-size: 14px;
	padding:5px;
}

#content .ucenter .theader-accounts{
	margin:0px;
	padding:0px;
	border-bottom: 1px solid #ccc;
	margin-bottom:5px;
}


#content .ucenter .ucenter-balance{
	font-size: 18px;
	padding:5px;
	color: red;
}

#content .ucenter .symbol{
	padding-top:20px;
	font-size:30px;
}

#content .ucenter .rec{
	font-size: 20px;
	font-family: '黑体';
	padding:5px 10px;
}

#content .ucenter .theader-accounts .period{
	font-size:15px;
	color:blue;
	padding:5px 0px;
}

#content .ucenter .theader-accounts .rec-other{
	padding:5px 0px;
}

#content .ucenter-uc .personal-data{
	background-color: #EDEDED;
	height: 30px;
	margin: 0px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	padding-top:5px;
	font-family: "黑体";
	font-size: 16px;
}
#content .ucenter-uc .personal-data .ucoptions{
	text-align: right;
}
#content .ucenter-uc .personal-data .ucverify,
#content .ucenter-uc .personal-data .uccontent{
	text-align:center;
}

#content .ucenter-uc .table table tbody tr td{
	border:none;
	padding-top:23px;
}

#content .ucenter-uc .table table tbody tr:first-child td,
#content .ucenter-uc .table table tbody tr:first-child th{
	padding-top:5px;
}
#content .ucenter-uc .table table tbody tr td:first-child{
	font-size:14px;
	text-align: right;
	color:#808080;
	margin: 0px;
	width: 124px;
}
#content .ucenter-uc .table table tbody tr td i{
	color:green;
	cursor: pointer;
}

#content .ucenter-uc .table table tbody tr th{
	background: linear-gradient(to bottom,  #F8F8F8 0%,#F8F8F8 0%); 
	border: none;
	text-align:left;
	padding-left:50px;
	font-weight:100;
	font-style: none;
	padding-top:30px;

}

#content .ucenter-uc .table table tbody tr th input{
	border-style:inset;
	/*height:20px;*/
	width:200px;
}

#content .ucenter-uc .table table tbody tr th p{
	margin: 0px;
	padding:0px;
	color:#808080;
	font-size: 12px;
}
#content .ucenter-uc .table table tbody tr td select,
#content .ucenter-uc .table table tbody tr th select{
	border-style:inset;
	width: 60px;
	height:20px;
}

#content .ucenter-uc .prompt{
	/*border-bottom:1px dashed #CDCDCD;*/
	border-top:1px solid #CDCDCD;
	height: 30px;
}

#content .ucenter-uc .prompt i{
	color:green;
	font-size: 14px;
	padding:10px 15px;
}

#content .ucenter-uc .prompt i span{
	color:red;
	font-size:12px;
	padding:8px 10px;
}

#content .ucenter-uc .table table tbody tr th .input-icon i{
	color: #ccc;
	display: block;
	position: absolute;
	margin: 9px 2px 4px 10px;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;

}

#content .ucenter-uc .table table tbody tr th .input-icon input{
	height: 25px;
}