<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>信用认证中心</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">信用认证</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="page-rule">
                        <div class="row lev">
                            <div class="col-md-10 xinyong">
                                <i class="fa fa-bar-chart-o"><span>我的信用等级:</span></i>
                                <a href=""><i class="ico fas-d1"></i></a>
                                <div class="jindu">
                                    <a href=""><span>LVD1</span>
                                    <div class="jindutiao"></div>
                                    <span>LVD2</span></a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href=""><i class="fa fa-search"><span>查看信用规则</span></i></a>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="row cred" style="padding:30px 0px;">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                   <div class="newuser">新用户</div>
                                   <div class="olduser">信用达人</div>
                                </div>
                                <div class="col-md-1"></div> 
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 LV">
                                    <div class="row">
                                        <div class="col-md-3 LVD">等级LVD</div>
                                        <div class="col-md-3 LVC">等级LVC</div>
                                        <div class="col-md-3 LVB">等级LVB</div>
                                        <div class="col-md-3 LVA">等级LVA</div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="con-me margin-top-20">
                        <div class="con-xyh">信用中心</div>
                        <a href="{:U('Member/Credit/index')}"><div class="con-xy other">信用等级</div></a>
                        <div class="con-xy index" style="background: white;border-bottom:2px solid white;">认证中心</div>
                    </div>
                    <div class="margin-top-10" style="clear:both;">
                        <div class="tool-tip">
                            <i class="fa fa-bullhorn"><span>这里信息填写后需审核,请认真如实填写！信息越全面信用等级越高，获得的服务也将更多！</span></i>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">真实姓名</div>
                            <div class="col-md-6">
                                <input type="text"/>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>审核通过</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">手机号码</div>
                            <div class="col-md-6">
                                <input type="text"/>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>已认证</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">身&nbsp;份&nbsp;证</div>
                            <div class="col-md-6">
                                <select>
                                    <option>身份证正面照</option>
                                    <option>身份证反面照</option>
                                </select>
                                <input class="upload margin-top-10" type="file"/>
                                <p>请上传身份证正反面照片！<span>照片必须清晰完整，以下均同！</span></p>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>审核通过</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">工作认证</div>
                            <div class="col-md-6">
                                <div>
                                    <label>工作名称</label>
                                    <input type="text" />
                                </div>
                                <div class="margin-top-10">
                                    <label>公司名称</label>
                                    <input type="text" />
                                </div>
                                <div class="margin-top-10">
                                    <label>工作地点</label>
                                    <select name="workprovince" id="workprovince" onchange="loadRegion('workprovince',2,'workcity','{:U('Profile/getRegion')}');">
                                        <option value="0" selected>省份/直辖市</option><volist name="province" id="vo"> 
                                        <option value="{$vo.id}" >{$vo.name}</option></volist>
                                    </select>          
                                    <select name="workcity" id="workcity"  onchange="loadRegion('workcity',3,'workdist','{:U('Profile/getRegion')}');">
                                       <option value="0">市/县</option>
                                    </select>
                                    <select name="workdist" id="workdist">
                                       <option value="0">镇/区</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>审核通过</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">收入认证</div>
                            <div class="col-md-6">
                                <input class="upload" type="file"/>
                                <p>请上传收入证明照片！</p>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>审核通过</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">信用报告</div>
                            <div class="col-md-6">
                                <input class="upload" type="file" />
                                <p>请上传银行出示的信用报告照片！</p>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check-square"><span>审核通过</span></i>
                            </div>
                        </div>
                        <div class="row certification">
                            <div class="col-md-2">房产认证</div>
                            <div class="col-md-6">
                                <select>
                                    <option>购房发票</option>
                                    <option>房产证</option>
                                    <option>购房合同</option>
                                </select>
                                <input class="upload margin-top-10" type="file"/>
                                <p>请上传购房发票/房产证/购房合同照片！</p>
                            </div>
                            <div class="col-md-2">
                                <select>
                                    <option>公开</option>
                                    <option>保密</option>
                                    <option>好友可见</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-times"><span>审核未通过</span></i>
                                <p>照片不清晰！</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 ">
                                <input type="button" class="btn blue" value="提交" />
                                <input type="button" class="btn" value="取消" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    function loadRegion(sel,type_id,selName,url){
        jQuery("#"+selName+" option").each(function(){
            jQuery(this).remove();
        });
        jQuery("<option value=0>请选择</option>").appendTo(jQuery("#"+selName));
        if(jQuery("#"+sel).val()==0){
            return;
        }
        jQuery.getJSON(url,{pid:jQuery("#"+sel).val(),type:type_id},
            function(data){
                if(data){
                    jQuery.each(data,function(idx,item){
                        jQuery("<option value="+item.id+">"+item.name+"</option>").appendTo(jQuery("#"+selName));
                    });
                }else{
                    jQuery("<option value='0'>请选择</option>").appendTo(jQuery("#"+selName));
                }
            }
        );
    }
</script>