<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Register 会员注册</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="page-rule">
                        <div class="row lev">
                            <div class="col-md-10 xinyong">
                                <i class="fa fa-bar-chart-o"><span>我的信用等级:</span></i>
                                <a href=""><i class="ico fas-d1"></i></a>
                                <div class="jindu">
                                    <a href=""><span>LVD1</span>
                                    <div class="jindutiao"></div>
                                    <span>LVD2</span></a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href=""><i class="fa fa-search"><span>查看信用规则</span></i></a>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="row cred" style="padding:30px 0px;">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                   <div class="newuser">新用户</div>
                                   <div class="olduser">信用达人</div>
                                </div>
                                <div class="col-md-1"></div> 
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 LV">
                                    <div class="row">
                                        <div class="col-md-3 LVD">信用等级LVD</div>
                                        <div class="col-md-3 LVC">信用等级LVC</div>
                                        <div class="col-md-3 LVB">信用等级LVB</div>
                                        <div class="col-md-3 LVA">信用等级LVA</div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>等级类别</th>
                                    <th>等级</th>
                                    <th>信用评分</th>
                                    <th>简述</th>
                                    <th>借款推荐额度</th>
                                </tr>
                            </thead>
                            <tbody class="LVA">
                                <tr>
                                    <th>信用等级A</th>
                                    <td>Lv.A1</td>
                                    <td>399</td>
                                    <td>推荐可信</td>
                                    <td>200000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.A2</td>
                                    <td>375</td>
                                    <td>推荐可信</td>
                                    <td>150000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.A3</td>
                                    <td>350</td>
                                    <td>推荐可信</td>
                                    <td>100000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.A4</td>
                                    <td>325</td>
                                    <td>推荐可信</td>
                                    <td>50000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.A5</td>
                                    <td>300</td>
                                    <td>推荐可信</td>
                                    <td>40000元</td>
                                </tr>
                            </tbody>
                            <tbody class="LVB">
                                <tr>
                                    <th>信用等级B</th>
                                    <td>Lv.B1</td>
                                    <td>299</td>
                                    <td>一般可信</td>
                                    <td>30000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.B2</td>
                                    <td>275</td>
                                    <td>一般可信</td>
                                    <td>20000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.B3</td>
                                    <td>250</td>
                                    <td>一般可信</td>
                                    <td>15000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.B4</td>
                                    <td>225</td>
                                    <td>一般可信</td>
                                    <td>12000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.B5</td>
                                    <td>200</td>
                                    <td>一般可信</td>
                                    <td>10000元</td>
                                </tr>
                            </tbody>
                            <tbody class="LVC">
                                <tr>
                                    <th>信用等级C</th>
                                    <td>Lv.C1</td>
                                    <td>199</td>
                                    <td>普通信用</td>
                                    <td>9000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.C2</td>
                                    <td>175</td>
                                    <td>普通信用</td>
                                    <td>8000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.C3</td>
                                    <td>150</td>
                                    <td>普通信用</td>
                                    <td>7000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.C4</td>
                                    <td>125</td>
                                    <td>普通信用</td>
                                    <td>6000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.C5</td>
                                    <td>100</td>
                                    <td>普通信用</td>
                                    <td>5000元</td>
                                </tr>
                            </tbody>
                            <tbody class="LVD">
                                <tr>
                                    <th>信用等级D</th>
                                    <td>Lv.D1</td>
                                    <td>99</td>
                                    <td>初级信用</td>
                                    <td>3000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.D2</td>
                                    <td>75</td>
                                    <td>初级信用</td>
                                    <td>2000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.D3</td>
                                    <td>50</td>
                                    <td>初级信用</td>
                                    <td>1000元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.D4</td>
                                    <td>25</td>
                                    <td>初级信用</td>
                                    <td>500元</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Lv.D5</td>
                                    <td>0</td>
                                    <td>信用空白</td>
                                    <td>100元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>