    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 space-mobile">
                    <h2>银行支持</h2>
                    <!-- BEGIN BLOG PHOTOS STREAM -->
                    <div class="blog-photo-stream margin-bottom-30">
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="public/img/bank/CCB.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/BC.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/ABC.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/CMB.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/ICBC.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/CGB.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/CEB.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/huaxia.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/minsheng.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/pingan.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/jiaotong.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/PSBC.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/SPDB.PNG" alt=""></a></li>
                            <li><a href="#"><img src="public/img/bank/zhongxin.PNG" alt=""></a></li>
                        </ul>                    
                    </div>
                    <!-- END BLOG PHOTOS STREAM -->                              
                </div>
                <div class="col-md-4 col-sm-4 space-mobile">
                    <!-- BEGIN CONTACTS -->                                    
                    <h2>联系我们</h2>
                    <address class="margin-bottom-40">
                        曲靖市麒麟区,<br />
                        麒麟东路畔山咖啡, 0703 <br />
                        云南曲靖,  655000 <br />
                        电话: (0874) 333 7898 <br />
                        Email: <a href="#">xledoo@qq.com</a>                        
                    </address>
                    <!-- END CONTACTS -->                                    

                    <!-- BEGIN SUBSCRIBE -->                                    
                    <h2>融资理财讯息</h2>  
                    <p>搜索订阅我们的新闻，让您获得最新最及时的理财融资咨询!</p>
                    <form action="#" class="form-subscribe">
                        <div class="input-group input-large">
                            <input class="form-control" type="text">
                            <span class="input-group-btn">
                                <button class="btn theme-btn" type="button">订阅</button>
                            </span>
                        </div>
                    </form>

                    <!-- END SUBSCRIBE -->                                    
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- BEGIN TWITTER BLOCK -->                                                    
                    <h2>最新动态</h2>
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>
                            <a href="#">XXX</a>
                            融资财产评估通过.
                            <span>3分钟前</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>
                            <a href="#">XXX</a>
                            融资资产评估通过.
                            <span>8分钟前</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>
                            <a href="#">XX</a>
                            理财收益到帐.
                            <span>12分钟前</span>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>
                            <a href="#">XXXX</a>
                            申请XX理财服务成功.
                            <span>16分钟前</span>
                        </dd>
                    </dl>                    
                    <!-- END TWITTER BLOCK -->                                                                        
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <p>
                        <span class="margin-right-10">2014 © Yunnan YunJing Investment Co,Ltd. All Rights Reserved.</span> 
                        <a href="#">隐私政策</a> | <a href="#">授权服务</a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul class="social-footer">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->