<!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Ucenter 会员中心</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/Index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/Index')}">会员中心</a></li>
                        <li class="active">会员中心</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->
<!-- BEGIN PAGE CONTAINER -->  
    <div class="page-container">
        <!-- BEGIN REVOLUTION SLIDER -->    
        <div class="fullwidthbanner-container slider-main">
            <div class="fullwidthabnner">
                <ul id="revolutionul" style="display:none;">            
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/img/sliders/revolution/thumbs/thumb2.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="public/img/sliders/revolution/bg1.jpg" alt="">
                            
                            <div class="caption lft slide_title slide_item_left"
                                 data-x="0"
                                 data-y="105"
                                 data-speed="400"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 Need a website design ? 
                            </div>
                            <div class="caption lft slide_subtitle slide_item_left"
                                 data-x="0"
                                 data-y="180"
                                 data-speed="400"
                                 data-start="2000"
                                 data-easing="easeOutExpo">
                                 This is what you were looking for
                            </div>
                            <div class="caption lft slide_desc slide_item_left"
                                 data-x="0"
                                 data-y="220"
                                 data-speed="400"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 Lorem ipsum dolor sit amet, dolore eiusmod<br>
                                 quis tempor incididunt. Sed unde omnis iste.
                            </div>
                            <a class="caption lft btn green slide_btn slide_item_left" href="#"
                                 data-x="0"
                                 data-y="290"
                                 data-speed="400"
                                 data-start="3000"
                                 data-easing="easeOutExpo">
                                 Purchase Now!
                            </a>                        
                            <div class="caption lfb"
                                 data-x="640" 
                                 data-y="55" 
                                 data-speed="700" 
                                 data-start="1000" 
                                 data-easing="easeOutExpo"  >
                                 <img src="public/img/sliders/revolution/man-winner.png" alt="Image 1">
                            </div>
                        </li>

                        <!-- THE SECOND SLIDE -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="public/img/sliders/revolution/thumbs/thumb2.jpg">                        
                            <img src="public/img/sliders/revolution/bg2.jpg" alt="">
                            <div class="caption lfl slide_title slide_item_left"
                                 data-x="0"
                                 data-y="125"
                                 data-speed="400"
                                 data-start="3500"
                                 data-easing="easeOutExpo">
                                 Powerfull & Clean
                            </div>
                            <div class="caption lfl slide_subtitle slide_item_left"
                                 data-x="0"
                                 data-y="200"
                                 data-speed="400"
                                 data-start="4000"
                                 data-easing="easeOutExpo">
                                 Responsive Admin & Website Theme
                            </div>
                            <div class="caption lfl slide_desc slide_item_left"
                                 data-x="0"
                                 data-y="245"
                                 data-speed="400"
                                 data-start="4500"
                                 data-easing="easeOutExpo">
                                 Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                            </div>                        
                            <div class="caption lfr slide_item_right" 
                                 data-x="635" 
                                 data-y="105" 
                                 data-speed="1200" 
                                 data-start="1500" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/mac.png" alt="Image 1">
                            </div>
                            <div class="caption lfr slide_item_right" 
                                 data-x="580" 
                                 data-y="245" 
                                 data-speed="1200" 
                                 data-start="2000" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/ipad.png" alt="Image 1">
                            </div>
                            <div class="caption lfr slide_item_right" 
                                 data-x="735" 
                                 data-y="290" 
                                 data-speed="1200" 
                                 data-start="2500" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/iphone.png" alt="Image 1">
                            </div>
                            <div class="caption lfr slide_item_right" 
                                 data-x="835" 
                                 data-y="230" 
                                 data-speed="1200" 
                                 data-start="3000" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/macbook.png" alt="Image 1">
                            </div>
                            <div class="caption lft slide_item_right" 
                                 data-x="865" 
                                 data-y="45" 
                                 data-speed="500" 
                                 data-start="5000" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/hint1-blue.png" id="rev-hint1" alt="Image 1">
                            </div>                        
                            <div class="caption lfb slide_item_right" 
                                 data-x="355" 
                                 data-y="355" 
                                 data-speed="500" 
                                 data-start="5500" 
                                 data-easing="easeOutBack">
                                 <img src="public/img/sliders/revolution/hint2-blue.png" id="rev-hint2" alt="Image 1">
                            </div>

                        </li>
                        
                        <!-- THE THIRD SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/img/sliders/revolution/thumbs/thumb2.jpg">
                            <img src="public/img/sliders/revolution/bg3.jpg" alt="">
                            <div class="caption lfl slide_item_left" 
                                 data-x="20" 
                                 data-y="95" 
                                 data-speed="400" 
                                 data-start="1500" 
                                 data-easing="easeOutBack">
                                 <iframe src="#" width="420" height="240" style="border:0" allowFullScreen></iframe> 
                            </div>
                            <div class="caption lfr slide_title"
                                 data-x="470"
                                 data-y="100"
                                 data-speed="400"
                                 data-start="2000"
                                 data-easing="easeOutExpo">
                                 Responsive Video Support
                            </div>
                            <div class="caption lfr slide_subtitle"
                                 data-x="470"
                                 data-y="170"
                                 data-speed="400"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 Youtube, Vimeo and others.
                            </div>
                            <div class="caption lfr slide_desc"
                                 data-x="470"
                                 data-y="220"
                                 data-speed="400"
                                 data-start="3000"
                                 data-easing="easeOutExpo">
                                 Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                            </div>
                            <a class="caption lfr btn yellow slide_btn" href=""
                                 data-x="470"
                                 data-y="280"
                                 data-speed="400"
                                 data-start="3500"
                                 data-easing="easeOutExpo">
                                 Watch more Videos!
                            </a>
                        </li>               
                        
                        <!-- THE FORTH SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/img/sliders/revolution/thumbs/thumb2.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="public/img/sliders/revolution/bg4.jpg" alt="">                        
                             <div class="caption lft slide_title"
                                 data-x="0"
                                 data-y="105"
                                 data-speed="400"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 What else included ?
                            </div>
                            <div class="caption lft slide_subtitle"
                                 data-x="0"
                                 data-y="180"
                                 data-speed="400"
                                 data-start="2000"
                                 data-easing="easeOutExpo">
                                 The Most Complete Admin Theme
                            </div>
                            <div class="caption lft slide_desc"
                                 data-x="0"
                                 data-y="225"
                                 data-speed="400"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                            </div>
                            <a class="caption lft slide_btn btn red slide_item_left" href="#" target="_blank" 
                                 data-x="0"
                                 data-y="300"
                                 data-speed="400"
                                 data-start="3000"
                                 data-easing="easeOutExpo">
                                 Learn More!
                            </a>                        
                            <div class="caption lft start"  
                                 data-x="670" 
                                 data-y="55" 
                                 data-speed="400" 
                                 data-start="2000" 
                                 data-easing="easeOutBack"  >
                                 <img src="public/img/sliders/revolution/iphone_left.png" alt="Image 2">
                            </div>
                            
                            <div class="caption lft start"  
                                 data-x="850" 
                                 data-y="55" 
                                 data-speed="400" 
                                 data-start="2400" 
                                 data-easing="easeOutBack"  >
                                 <img src="public/img/sliders/revolution/iphone_right.png" alt="Image 3">
                            </div>                        
                        </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
        
        <!-- BEGIN CONTAINER -->   
        <div class="container">
            <!-- BEGIN SERVICE BOX -->   
            <div class="row service-box">
                <div class="col-md-4 col-sm-4">
                    <div class="service-box-heading">
                        <em><i class="fa fa-location-arrow blue"></i></em>
                        <span>理财投资</span>
                    </div>
                    <p>成为理财者，通过主动投资或者加入XX理财计划将资金进行出借投资，获得预期XX-XX稳定年化收益，互利双赢共创财富.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="service-box-heading">
                        <em><i class="fa fa-check red"></i></em>
                        <span>抵押融资</span>
                    </div>
                    <p>成为借款人，按照要求进行财物评估，财物通过适价评估合格抵押后，通过发标进行借款，即时获得所需资金，解燃眉之急.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="service-box-heading">
                        <em><i class="fa fa-compress green"></i></em>
                        <span>安全保障</span>
                    </div>
                    <p>所有投资标的100%适用本金保障计划，金融宝理财，实际价值有形财产抵押借款，保障理财人的本金安全.</p>
                </div>
            </div>
            <!-- END SERVICE BOX -->  

            <!-- BEGIN BLOCKQUOTE BLOCK -->   
            <div class="row quote-v1">
                <div class="col-md-9 quote-v1-inner">
                    <span>金融宝 - 您身边最安全、最具潜力的投资理财发展平台！</span>
                </div>
                <div class="col-md-3 quote-v1-inner text-right">
                    <a class="btn-transparent" href="#" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
                    <!--<a class="btn-transparent" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469"><i class="icon-gift margin-right-10"></i>Purchase 2 in 1</a>-->
                </div>
            </div>
            <!-- END BLOCKQUOTE BLOCK -->

            <div class="clearfix"></div>

            <!-- BEGIN RECENT WORKS -->
            <div class="row recent-work margin-bottom-40">
                <div class="col-md-3">
                    <h2><a href="portfolio.html">最新动态</a></h2>
                    <p>*金融宝理财融资网络平台荣获360网站安全检测满分企业称号.</p>
                    <p>*金融宝理财融资网络平台荣膺电子商务协会认证诚信网站.</p>
                    <p>*金融宝理财融资网络平台，创新借贷，立体复合模式经营，互利共赢，利用有限资源，创造无限财富.</p>
                </div>
                <div class="col-md-9">
                    <ul class="bxslider">
                        <li>
                            <em>
                                <img src="public/img/works/img1.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img2.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img5.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img6.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="public/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="public/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                    </ul>        
                </div>
            </div>   
            <!-- END RECENT WORKS -->

            <div class="clearfix"></div>

            <!-- BEGIN TABS AND TESTIMONIALS -->
            <div class="row mix-block">
                <!-- TABS -->
                <div class="col-md-7 tab-style-1 margin-bottom-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab">公司概况</a></li>
                        <li><a href="#tab-2" data-toggle="tab">企业文化</a></li>
                        <li><a href="#tab-2" data-toggle="tab">产品服务</a></li>
                        <li><a href="#tab-3" data-toggle="tab">投资列表</a></li>
                        <li><a href="#tab-4" data-toggle="tab">投诉建议</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane row fade in active" id="tab-1">
                            <div class="col-md-3">
                                <a href="public/img/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                    <img class="img-responsive" src="public/img/photos/img7.jpg" alt="" />
                                </a>
                            </div>
                            <div class="col-md-9">
                                <p class="margin-bottom-10">金融宝网络投资理财平台是由云南云景投资有限责任公司开发运用的一款多功能网络运用平台.</p>
                                <p><a class="more" href="#">更多资讯 <i class="icon-angle-right"></i></a></p>
                            </div>
                        </div>
                        <div class="tab-pane row fade" id="tab-2">
                            <div class="col-md-9">
                                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                            </div>
                            <div class="col-md-3">
                                <a href="public/img/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                    <img class="img-responsive" src="public/img/photos/img10.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                        <div class="tab-pane fade" id="tab-4">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                        </div>
                    </div>
                </div>
                <!-- END TABS -->
        
                <!-- TESTIMONIALS -->
                <div class="col-md-5 testimonials-v1">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <span class="testimonials-slide">总经理的一封公开信.</span>
                                <div class="carousel-info">
                                    <img class="pull-left" src="public/img/people/img1-small.jpg" alt="" />
                                    <div class="pull-left">
                                        <span class="testimonials-name">徐力</span>
                                        <span class="testimonials-post">总经理</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <span class="testimonials-slide">Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</span>
                                <div class="carousel-info">
                                    <img class="pull-left" src="public/img/people/img5-small.jpg" alt="" />
                                    <div class="pull-left">
                                        <span class="testimonials-name">Kate Ford</span>
                                        <span class="testimonials-post">Commercial Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <span class="testimonials-slide">Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</span>
                                <div class="carousel-info">
                                    <img class="pull-left" src="public/img/people/img2-small.jpg" alt="" />
                                    <div class="pull-left">
                                        <span class="testimonials-name">Jake Witson</span>
                                        <span class="testimonials-post">Commercial Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel nav -->
                        <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
                        <a class="right-btn" href="#myCarousel" data-slide="next"></a>
                    </div>
                </div>
                <!-- END TESTIMONIALS -->
            </div>                
            <!-- END TABS AND TESTIMONIALS -->

            <!-- BEGIN STEPS -->
            <div class="row no-space-steps margin-bottom-40">
                <div class="col-md-4 col-sm-4">
                    <div class="front-steps front-step-one">
                        <h2>崛起</h2>
                        <p>改革铸就英雄.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="front-steps front-step-two">
                        <h2>筑基</h2>
                        <p>精品塑造品牌.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="front-steps front-step-three">
                        <h2>跨越</h2>
                        <p>创新成就未来.</p>
                    </div>
                </div>
            </div>
            <!-- END STEPS -->

            <!-- BEGIN CLIENTS -->
            <div class="row margin-bottom-40 our-clients">
                <div class="col-md-3">
                    <h2><a href="#">客户列表</a></h2>
                    <p>理财客户，融资客户.</p>
                </div>
                <div class="col-md-9">
                    <ul class="bxslider1 clients-list">
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_1_gray.png" alt="" /> 
                                <img src="public/img/clients/client_1.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_2_gray.png" alt="" /> 
                                <img src="public/img/clients/client_2.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_3_gray.png" alt="" /> 
                                <img src="public/img/clients/client_3.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_4_gray.png" alt="" /> 
                                <img src="public/img/clients/client_4.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_5_gray.png" alt="" /> 
                                <img src="public/img/clients/client_5.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">                        
                                <img src="public/img/clients/client_6_gray.png" alt="" /> 
                                <img src="public/img/clients/client_6.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="public/img/clients/client_7_gray.png" alt="" /> 
                                <img src="public/img/clients/client_7.png" class="color-img" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">                        
                                <img src="public/img/clients/client_8_gray.png" alt="" /> 
                                <img src="public/img/clients/client_8.png" class="color-img" alt="" />
                            </a>
                        </li>
                    </ul>                        
                </div>
            </div>
            <!-- END CLIENTS -->
        </div>
        <!-- END CONTAINER -->
    </div>
    <!-- END PAGE CONTAINER -->