			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">用户管理模块 <small>管理通过网上注册的用户</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{:U('Admincp/Member/index')}">用户管理模块</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li><a href="javascript:;">编辑用户</a></li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->


<!-- BEGIN CONTAINER -->   
    <div class="container margin-bottom-40">
    	<!--/row-->
        <div class="row">
            <form action="{:U('Admincp/Member/doEdit')}" id="register_form" method="post" class="form-horizontal">
                
				<input type="hidden" class="form-control" name="uid" readonly="readonly" tabindex="1" value="{$mem.uid}"/>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
						<span>用户名</span>
							<div class="input-group margin-bottom-20">							
			                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                    <input type="text" class="form-control" onblur="ajax_check(this.id, this.value);" placeholder="用户名" name="username" id="username" value="{$mem.username}">
			                </div>
			                <span id="showtip" ></span>
			                <span>密码</span>
			            	<div class="input-group margin-bottom-20">			            	
			                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			                    <input type="password" class="form-control" onblur="ajax_check(this.id, this.value);" placeholder="密码" name="password" id="password" value="{$mem.password}">
			                </div>
			                <!-- <span>用户组</span>
							<div class="input-group margin-bottom-20">
                                 <select class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                 </select>
                           	</div> -->
						</div>
						<div class="col-md-6">
							<span>Email</span>
							<div class="input-group margin-bottom-20">						
			                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			                    <input type="text" class="form-control" onblur="ajax_check(this.id, this.value);" placeholder="邮箱" name="email" id="email" value="{$mem.email}">
			                </div>
			                <span>手机号码</span>
			            	<div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="fa fa-apple"></i></span>
			                    <input type="text" class="form-control" onblur="ajax_check(this.id, this.value);" placeholder="手机号码" name="mobile" id="mobile" value="{$mem.mobile}">
			                </div>
						</div>
						<div class="col-md-12">
							<div class="alert alert-danger" role="alert" id="message_box" style="display:none;"><span id="message_return"></span></div>
						      <button type="submit" class="btn btn-info green col-md-12" id="register_submit">提交信息</button>
                        </div>
					</div>
				</div>	            	
            </form>
        </div>
    </div>
<!-- END CONTAINER -->


<script type="text/javascript">
function ajax_check(id, val){
	if(id == 'password' || id == 'password2'){
		if(id == 'password'){
			if(val.length < 6 || val.length > 20){
				message_box(true, '密码必须为 6-20 位的字符串');
				changeError(id);
			} else {
				changeSuccess(id);
			}
		} else {
			if(val != jQuery('#password').val()){
				message_box(true, '两次输入的密码不一致 请重新输入');
				changeError(id);
			} else {
				changeSuccess(id);
			}
		}

	} else {
		jQuery.getJSON('index.php?m=member&c=register&a=ajax_check&type='+id+'&data='+val, function(json){
			message_box(json['error'], json['message']);
			json['error'] == 0 ? changeSuccess(id) : changeError(id);
		});
	}
	
	return false;
}

function changeSuccess(id){
    jQuery("#" + id).parent().removeClass('has-error');
    jQuery("#" + id).parent().addClass('has-success');
}
function changeError(id){
	jQuery("#" + id).parent().removeClass('has-success');
	jQuery("#" + id).parent().addClass('has-error');
}

jQuery("#smscheck").click(function(j){
    var err =   0;
    jQuery(".form-control").each(function(i){
        if(this.id && i < 6){
            if(!this.parentNode.className.match(/ has-success/)){
                jQuery(".input-group input").eq(i).focus();
                err = 1;
                return false;
            }
        }
    });  

    if(err == 0){
        jQuery.getJSON('index.php?m=member&c=register&a=SMSend_verify&mobile='+jQuery('#mobile').val(), function(j){
        	if(j['error'] == 0){
        		jQuery('#smscheck').attr('disabled', 'disabled');
        		jQuery('#smscheck').html('短信已发送');
        	}
        	message_box(j['error'], j['message']);
        });
    }      
});

function message_box(error, message){
	error ? jQuery("#message_box").show() : jQuery("#message_box").hide();
	jQuery('#message_return').html(message);
}

jQuery("#register_form").submit(function(){
    var err =   0;
	jQuery(".form-control").each(function(i){
		if(this.id){
			if(!this.parentNode.className.match(/ has-success/)){
				jQuery(".input-group input").eq(i).focus();
				err = 1;
				return false;
			}
		}
	});
	return false;
});

</script>


</div>
<!-- END PAGE CONTAINER -->

