<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Register 会员注册</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="con-me">
                    <a href="{:U('Member/Profile/other')}"><div class="con-me1 other">其它</div></a>
                    <a href="{:U('Member/Profile/qqBind')}"><div class="con-me1 qqBind">QQ绑定</div></a>
                    <a href="{:U('Member/Profile/wxBind')}"><div class="con-me1 wxBind">微信绑定</div></a>
                    <a href="{:U('Member/Profile/myInte')}"><div class="con-me1 myInte">我的积分</div></a>
                    <a href="{:U('Member/Profile/myAva')}"><div class="con-me1 myAva">头像修改</div></a>
                    <a href="{:U('Member/Profile/myPw')}"><div class="con-me1 myPw">密码安全</div></a>
                    <div class="con-me1 index" style="background: white;border-bottom:2px solid white;">基本资料</div>
                    <div class="con-me2">个人资料设置</div>
                </div>
                <div style="clear:both;"></div>
                <form name="inform1" action="#" method="post" class="inform1">
                    <div class="row personal">
                        <div class="col-md-2">用户名</div>
                        <div class="col-md-6">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="{$_G['member']['username']}" readonly="">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2 state"></div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">真实姓名</div>
                        <div class="col-md-6">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="realname" placeholder="{$memp['realname']}">
                                <span class="form-required">*</span>
                                <span class="form-span-font">此项资料提交后需要审核</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select name="personal">
                                <option value="0">公开</option>
                                <option value="1">好友可见</option>
                                <option value="2">保密</option>
                            </select>
                        </div>
                        <div class="col-md-2 state">
                            <i class="fa  fa-check-square"><span>已认证</span></i>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">性别</div>
                        <div class="col-md-6">
                            <select name="gender">
                                <option value="0">保密</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="personal">
                                <option value="0">公开</option>
                                <option value="1">好友可见</option>
                                <option value="2">保密</option>
                            </select>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">血型</div>
                        <div class="col-md-6">
                            <select name="bloodtype">
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">AB</option>
                                <option value="3">O</option>
                                <option value="4">其它</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="personal">
                                <option value="0">公开</option>
                                <option value="1">好友可见</option>
                                <option value="2">保密</option>
                            </select>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">交友目的</div>
                        <div class="col-md-6">
                                
                        <textarea rows="3" cols="40" name="guymd"></textarea>
                            
                        </div>
                        <div class="col-md-2">
                            <select name="personal">
                                <option value="0">公开</option>
                                <option value="1">好友可见</option>
                                <option value="2">保密</option>
                            </select>
                        </div>
                    </div>
                    <div class="row personal" style="margin:50px 280px 20px;">
                        <button type="submit" class="btn btn blue col-md-4" id="setinfo">保&nbsp;存</button>
                        <button type="button" class="btn default col-md-4">取&nbsp;消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>