<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>个人资料</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">个人资料</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="con-me">
                    <a href="{:U('Member/Profile/other')}"><div class="con-me1 other">其它</div></a>
                    <a href="{:U('Member/Profile/qqBind')}"><div class="con-me1 qqBind">QQ绑定</div></a>
                    <a href="{:U('Member/Profile/wxBind')}"><div class="con-me1 wxBind">微信绑定</div></a>
                    <a href="{:U('Member/Profile/myInte')}"><div class="con-me1 myInte">我的积分</div></a>
                    <a href="{:U('Member/Profile/myAva')}"><div class="con-me1 myAva">头像修改</div></a>
                    <div class="con-me1 myPw" style="background: white;border-bottom:2px solid white;">密码安全</div>
                    <a href="{:U('Member/Profile/index')}"><div class="con-me1 index">基本资料</div></a>
                    <div class="con-me2">个人资料设置</div>
                </div>
				<div style="clear:both;"></div>
                <form name="inform1" action="{:U('Member/Profile/myPw')}" method="post" class="inform1">
                    <input type="hidden" name="formhash" value="{$formhash}">
                    <div class="row personal">
                        <div class="col-md-2">用户名</div>
                        <div class="col-md-4">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="username" value="{$_G['member']['username']}" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">原登录密码</div>
                        <div class="col-md-4">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" onblur="ajax_check(this.id, this.value);" name="oldpw" id="oldpw">
                            </div>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">新登录密码</div>
                        <div class="col-md-4">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" onblur="ajax_check(this.id, this.value);" name="newpw" id="newpw">
                            </div>
                        </div>
                        <div class="col-md-4 alert-danger" role="alert" id="message_box" style="display:none;">
                            <i class="fa fa-warning"></i>
                            <span id="message_return"></span>
                        </div>
                    </div>
                    
                    <div class="row personal" style="margin:50px 280px 20px;">
                        <input type="submit" name="edit" class="btn btn blue col-md-4" value="修改">
                        <!-- <button type="submit" class="btn btn blue col-md-4" name="edit" id="setinfo">修&nbsp;改</button>
                        <button type="button" class="btn default col-md-4">取&nbsp;消</button> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function ajax_check(id,  val){
        if(id == 'oldpw' || id == 'newpw'){
            if(id == 'oldpw'){
                if(val.length < 6 || val.length > 20){
                    message_box(true, '密码必须为 6-20 位的字符串');
                    changeError(id);
                } else {
                    message_box(0);
                    changeSuccess(id);
                }
            }
            if(id == 'newpw'){
                if(val.length < 6 || val.length > 20){
                    message_box(true, '密码必须为 6-20 位的字符串');
                    changeError(id);
                }else if(val == jQuery('#oldpw').val()){
                    message_box(true, '两次输入的密码不能一致 请重新输入');
                    changeError(id);
                }else {
                    message_box(0);
                    changeSuccess(id);
                }
            }
        }
    }
    function changeSuccess(id){
        jQuery("#" + id).parent().removeClass('has-error');
        jQuery("#" + id).parent().addClass('has-success');
    }
    function changeError(id){
        jQuery("#" + id).parent().removeClass('has-success');
        jQuery("#" + id).parent().addClass('has-error');
    }
    function message_box(error, message){
        error ? jQuery("#message_box").show() : jQuery("#message_box").hide();
        jQuery('#message_return').html(message);
    }
</script>