<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Register 会员注册</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="con-me">
                    <a href="{:U('Member/Profile/other')}"><div class="con-me1 other">其它</div></a>
                    <a href="{:U('Member/Profile/qqBind')}"><div class="con-me1 qqBind">QQ绑定</div></a>
                    <a href="{:U('Member/Profile/wxBind')}"><div class="con-me1 wxBind">微信绑定</div></a>
                    <a href="{:U('Member/Profile/myInte')}"><div class="con-me1 myInte">我的积分</div></a>
                    <a href="{:U('Member/Profile/myAva')}"><div class="con-me1 myAva">头像修改</div></a>
                    <div class="con-me1 myPw" style="background: white;border-bottom:2px solid white;">密码安全</div>
                    <a href="{:U('Member/Profile/index')}"><div class="con-me1 index">基本资料</div></a>
                    <div class="con-me2">个人资料设置</div>
                </div>
				<div style="clear:both;"></div>
                <form name="inform1" action="{:U('Member/Profile/myPw')}" method="post" class="inform1">
                    <input type="hidden" name="formhash" value="{$formhash}" />
                    <div class="row personal">
                        <div class="col-md-2">用户名</div>
                        <div class="col-md-6">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" name="username" value="{$_G['member']['username']}" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">原密码</div>
                        <div class="col-md-6">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" name="oldpw">
                            </div>
                        </div>
                    </div>
                    <div class="row personal">
                        <div class="col-md-2">新密码</div>
                        <div class="col-md-6">
                            <div class="input-icon input-medium margin-top-5">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" name="newpw">
                            </div>
                        </div>
                    </div>
                    <div class="row personal" style="margin:50px 280px 20px;">
                        <input type="submit" name="edit" value="修改">
                        <!-- <button type="submit" class="btn btn blue col-md-4" name="edit" id="setinfo">修&nbsp;改</button>
                        <button type="button" class="btn default col-md-4">取&nbsp;消</button> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>