<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Register 会员注册</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTAINER -->   
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row sidebar">
        <!-- BEGIN CAROUSEL -->            
            <div class="col-md-3">
                <include file="Public:sidebar" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="page-rule">
                        <div class="row lev">
                            <div class="col-md-10 xinyong">
                                <i class="fa fa-bar-chart-o"><span>我的信用等级:</span></i>
                                <a href=""><i class="ico fas-d1"></i></a>
                                <div class="jindu">
                                    <a href=""><span>LVD1</span>
                                    <div class="jindutiao"></div>
                                    <span>LVD2</span></a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href=""><i class="fa fa-search"><span>查看信用规则</span></i></a>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="row cred">
                            <div class="col-md-6">
                                <div class="usaccount">账户余额:<span>0.00元</span></div>
                                <div class="detail">
                                    <a href="">资金明细</a>
                                    <span>|</span>
                                    <a href="">收益记录</a>
                                    <span>|</span>
                                    <a href="">冻结资金:<span>0.00元</span></a>
                                </div>
                                <div class="usoperation">
                                   <a href=""><div class="operation">我要充值</div></a>
                                   <a href=""><div class="operation">我要提现</div></a>
                                   <a href=""><div class="operation">我要转账</div></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <i class="weixin fas-weixin"></i>
                            </div>
                            <div class="col-md-3 right">
                                <a href="">
                                    <i class="fa fa-bell-o"></i>我的提问<span>20</span>
                                </a></br>
                                <a href=""><i class="fa fa-credit-card"></i>我的信用卡<span style="padding-left:97px;">0</span></a></br>
                                <a href=""><i class="fa fa-gift"></i>我的积分<span>0</span></a></br>
                                <a href=""><i class="fa  fa-hand-o-right"></i>我的任务<span>0</span></a></br>
                            </div>
                        </div>
                    </div>
                    <div class="page-rec">
                        <div class="header">
                            <span>我的交易记录</span>
                        </div>
                        <div class="table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>交易时间</th>
                                        <th>交易类型</th>
                                        <th>订单号</th>
                                        <th>发生金额</th>
                                        <th>状态</th>
                                        <th>详细</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

