<!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>会员中心</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员中心</li>
                    </ul>
            </div>
        </div>
    </div>
<!-- END BREADCRUMBS -->


<div class="container margin-bottom-40">
    <div class="row">
        <div class="col-md-2">
            <ul id="sidebar">
                <li class="active">
                    <i class="fa fa-user"></i>
                    <span>个人中心</span>
                    <!-- <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    </ul> --> 
                </li>
                <li>
                    <i class="fa fa-gears"></i>
                    <span>个人资料设置</span>
                    <ul>
                    <li>增加</li>
                    <li>编辑</li>
                    <li>删除</li>
                    </ul>
                </li>
                <li>
                    <i class="fa fa-credit-card"></i>
                    <span>信用认证中心</span>
                </li>
                <li>
                     <i class="fa fa-envelope"></i>
                    <span>金融宝消息中心</span>
                </li>
                <li>
                    <i class="fa fa-jpy"></i>
                    <span>借款还款计划</span>
                </li>
                <li>
                    <i class="fa fa-tasks"></i>
                    <span>投资收益情况</span>
                </li>
                <li>
                    <i class="fa fa-chain"></i>
                    <span>互动管理</span>
                </li>
                <li>
                    <i class="fa fa-dropbox"></i>
                    <span>优惠券管理</span>
                </li>
            </ul>  
        </div>
        <div class="col-md-10">
            <div id="content">

                        <!-- 个人中心 -->
                        <section class="active">
                            <div class="ucenter row">
                                <div class="col-md-2">
                                    <div style="width:100px;height:100px; border:1px black solid; margin:20px 10px; background-color:white;">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="">
                                        <h4>用户名</h4>
                                    </div>
                                    <div>
                                        <div style="float:left;">
                                            <span>信用认证：</span>
                                        </div>
                                        <div style="float:left; padding-top:5px;">
                                            <div class="skillbar clearfix " data-percent="70%">
                                                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="renzheng">
                                        <img src="Public/img/renzheng/email.png">
                                        <img src="Public/img/renzheng/people.png">
                                        <img src="Public/img/renzheng/pw.png">
                                        <img src="Public/img/renzheng/phone.png">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>账户余额：<span>0.00元</span></h4>
                                    <h5>冻结资金：<span>0.00元</span></h5>
                                    <h5>可用金额：<span>0.00元</span></h5>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn blue">我要充值</button>
                                    <button class="btn blue">我要提现</button>
                                    <button class="btn blue">我要转账</button>
                                </div>
                            </div>
                        </section>

                        <!-- 个人资料设置 -->
                        <section>
                            个人资料设置
                        </section>

                        <!-- 信用认证中心 -->
                        <section>
                            信用认证中心
                        </section>

                        <!-- Layers -->
                        <section>
                            44444444444444444444
                        </section>

                        <!-- Examples -->
                        <section>
                            5
                        </section>


                        <!-- API reference -->
                        <section>

                        </section>

                        <!-- Troubleshooting -->
                        <section>

                        </section>

                        <!-- Upgrading -->
                        <section>
                            8
                        </section>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
// Init sidebar 初始化侧边栏

    $('#sidebar li').click(function(e){

        var subNav = '';
        var hash = '';

        $(this).addClass('active').siblings().removeClass('active');

        if( $(this).parent().closest('li').length ){

            e.stopPropagation();

            var pli = $(this).parent().closest('li');

            // checking if the parent main menuitem is active or not

            if( !pli.hasClass('active') ){

                pli.addClass('active').siblings().removeClass('active');
                $('#content > section').removeClass('active').eq( pli.index() ).addClass('active');
            }

            // submenu 子菜单

            $('#content > section.active > article').removeClass('active').eq( $(this).index() ).addClass('active');

            // setting variables 设置变量

            hash = $(this).data('deeplink');
            subNav = ' / ' + $('#sidebar .active .active').text();

        }else{

            // main menu 主菜单

            $('#content > section').removeClass('active').eq( $(this).index() ).addClass('active');

            var dl = $(this);

            // selecting the first submenu 选择第一个子菜单

            if( $(this).find('li').length ){

                $(this).find('li').removeClass('active');
                dl = $(this).find('li:first').addClass('active');
                $('#content > section.active > article').removeClass('active').eq(0).addClass('active');

                // setting variable 设置变量

                subNav = ' / ' + $('#sidebar .active .active').text();
            }

            // setting variable

            hash = dl.data('deeplink');
        }

        // changing curnav

        $('#curnav').text( $('#sidebar li.active > span').text() + subNav );

        // changing hash

        document.location.hash = hash;

        // fading in 渐显

        $('#content > section.active').css('display','none').fadeIn(200);
    });

    if( document.location.hash ){

        $('#sidebar li[data-deeplink="'+document.location.hash.split('#')[1]+'"]').click();
    }

    if( typeof layerSliderTransitions !== 'undefined' ){

        // Init transition gallery
        transitionGallery.init();
    }
});
$(document).ready(function(){
    $('.skillbar').each(function(){
        $(this).find('.skillbar-bar').animate({
            width:$(this).attr('data-percent')
        },0);
    });
});
</script>