<!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>会员中心</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员中心</li>
                    </ul>
            </div>
        </div>
    </div>
<!-- END BREADCRUMBS -->

<div>
    <div id="wrapper" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="km-box">
            <div class="row header">
                <div class="col-md-2"><h3>会员中心</h3></div>
                <div class="col-md-10"><h4>当前位置 <span id="curnav" class="light">个人中心</span></h4></div>
            </div>
            <div class="inner row">
                <div class="col-md-2">
                    <ul id="sidebar">
                        <li class="active">
                        <i class="fa fa-user"></i>
                            <span>个人中心</span>
                            <!-- <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul> --> 
                        </li>
                        <li>
                            <i class="fa fa-gears"></i>
                            <span>个人资料设置</span>
                            <!-- <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul> -->
                        </li>
                        <li>
                            <i class="fa fa-credit-card"></i>
                            <span>信用认证中心</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>金融宝消息中心</span>
                        </li>
                        <li>
                            <i class="fa fa-jpy"></i>
                            <span>借款还款计划</span>
                        </li>
                        <li>
                            <i class="fa fa-tasks"></i>
                            <span>投资收益情况</span>
                        </li>
                        <li>
                            <i class="fa fa-chain"></i>
                            <span>互动管理</span>
                        </li>
                        <li>
                            <i class="fa fa-dropbox"></i>
                            <span>优惠券管理</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div id="content">

                        <!-- Introduction -->
                        <section class="active">
                            <div class="ucenter row">
                                <div class="col-md-2">
                                    <div style="width:100px;height:100px; border:1px black solid; margin:20px 10px; background-color:white;">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="">
                                        <h4>用户名</h4>
                                    </div>
                                    <div>
                                        <div style="float:left;">
                                            <span>信用认证：</span>
                                        </div>
                                        <div style="float:left; padding-top:5px;">
                                            <div class="skillbar clearfix " data-percent="70%">
                                                <div class="skillbar-bar" style="background: orange;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="renzheng">
                                        <img src="Public/img/renzheng/email.png">
                                        <img src="Public/img/renzheng/people.png">
                                        <img src="Public/img/renzheng/pw.png">
                                        <img src="Public/img/renzheng/phone.png">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>账户余额：<span>0.00元</span></h4>
                                    <h5>冻结资金：<span>0.00元</span></h5>
                                    <h5>可用金额：<span>0.00元</span></h5>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn blue">我要充值</button>
                                    <button class="btn blue">我要提现</button>
                                    <button class="btn blue">我要转账</button>
                                </div>
                            </div>

                            <div class="ucenter row">
                                <div class="row theader">
                                    <div class="col-md-9"><h5>我的交易记录</h5></div>
                                    <div class="col-md-3" style="padding-top:8px;">
                                        <a href="">充值记录</a>
                                        <span>|</span>
                                        <a href="">提现记录</a>
                                    </div>
                                </div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>交易时间</th>
                                                <th>交易类型</th>
                                                <th>订单号</th>
                                                <th>交易金额</th>
                                                <th>交易状态</th>
                                                <th>交易详细</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>121212</td>
                                                <td>ds</td>
                                                <td>45555645</td>
                                                <td>4554</td>
                                                <td>1</td>
                                                <td>asdasdas</td>
                                            </tr>
                                            <tr>
                                                <td>121212</td>
                                                <td>ds</td>
                                                <td>45555645</td>
                                                <td>4554</td>
                                                <td>1</td>
                                                <td>asdasdas</td>
                                            </tr>
                                            <tr>
                                                <td>121212</td>
                                                <td>ds</td>
                                                <td>45555645</td>
                                                <td>4554</td>
                                                <td>1</td>
                                                <td>asdasdas</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="ucenter row">
                                <div class="row theader-accounts">
                                    <div class="col-md-2">
                                        <div class="ucenter-accounts">账户净资产</div>
                                        <div class="ucenter-balance">0.00元</div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="symbol"><span>=</span></div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ucenter-accounts">理财资产</div>
                                        <div class="ucenter-balance">0.00元</div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="symbol"><span>+</span></div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ucenter-accounts">借款负债</div>
                                        <div class="ucenter-balance">-0.00元</div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="symbol"><span>+</span></div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ucenter-accounts">账户余额</div>
                                        <div class="ucenter-balance">0.00元</div>
                                    </div>
                                </div>

                                <div class="row theader">
                                    <div class="col-md-2"><h5>理财用户</h5></div>
                                    <div class="col-md-8"><h6>已赚总金额：0.00元</h6></div>
                                    <div class="col-md-2" style="padding-top:8px;">
                                        <a href="">收益记录</a>
                                    </div>
                                </div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>理财方式</th>
                                                <th>账户资产</th>
                                                <th>已赚金额</th>
                                                <th>平均收益</th>
                                                <th>持有数量</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>债权投资</td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>%</span></td>
                                                <td><a href="">查看</a></td>
                                            </tr>
                                            <tr>
                                                <td>货币投资</td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>%</span></td>
                                                <td><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row theader">
                                    <div class="col-md-2"><h5>借款用户</h5></div>
                                    <div class="col-md-8"><h6>待还总金额：0.00元</h6></div>
                                    <div class="col-md-2" style="padding-top:8px;">
                                        <a href="">借款查询</a>
                                    </div>
                                </div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>借款标题</th>
                                                <th>待还本金</th>
                                                <th>待还利息</th>
                                                <th>管理费</th>
                                                <th>逾期费用</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>买车</td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>%</span></td>
                                                <td><a href="">查看</a></td>
                                            </tr>
                                            <tr>
                                                <td>买房</td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>%</span></td>
                                                <td><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="ucenter row">
                                <div class="rec">理财推荐</div>
                                <div class="row theader-accounts">
                                    <div class="col-md-3">
                                        <div class="period"><strong>优选理财计划第1期</strong></div>
                                        <div class="rec-other">加入条件：10000元</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="rec-other">总体额度：111111,000,000元</div>
                                        <div class="rec-other">预期收益：12%-14%</div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="rec-other">剩余额度：5000000元</div>
                                        <div class="rec-other">申请进度：50%</div>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                            <button class="btn blue">我要理财</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>借款标题</th>
                                                <th>信用等级</th>
                                                <th>年利率</th>
                                                <th>金额</th>
                                                <th>期限</th>
                                                <th>进度</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>债权投资</td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>元</span></td>
                                                <td>0.00<span>%</span></td>
                                                <td><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>


                        <!-- Slider setup -->
                        <section>
                            个人资料设置
                        </section>

                        <!-- Slides -->
                        <section>
                            3333333333333333333
                        </section>

                        <!-- Layers -->
                        <section>
                            44444444444444444444
                        </section>

                        <!-- Examples -->
                        <section>
                            5
                        </section>


                        <!-- API reference -->
                        <section>

                        </section>

                        <!-- Troubleshooting -->
                        <section>

                        </section>

                        <!-- Upgrading -->
                        <section>
                            8
                        </section>

                        <!-- Release log -->
                        <!-- <section>
                            
                            <article>
                                9-1
                            </article>

                            
                            <article>
                                9-2
                            </article>
                        </section>

                        
                        <section>
                            <article>
                                10-1
                            </article>

                            <article>
                                
                                10-2
                            </article>
                            <article>
                                
                                10-3
                            </article>
                            <article>
                                10-4
                                
                            </article>
                            <article>
                                10-5
                                
                            </article>
                        </section>
                        <section>
                            
                            11
                        </section> -->
                    </div>
                </div>
                <div class="col-md-2"  style="padding:0px;">
                    <div class="ucright">
                        <div class="ucright-cn">
                            <div class="usingcenter"><h4>我的运用</h4></div>
                            <div>
                                
                            </div>
                        </div>
                        <div class="ucright-cn">
                            <div class="usingcenter"><h4>常见问题</h4></div>
                            <div>
                                
                            </div>
                        </div>
                        <div class="ucright-cn">
                            <div class="usingcenter"><h4>关注我们</h4></div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="clear"></div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/syntaxhighlighter/scripts/shCore.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

    
    // Init sidebar 初始化侧边栏

    $('#sidebar li').click(function(e){

        var subNav = '';
        var hash = '';

        $(this).addClass('active').siblings().removeClass('active');

        if( $(this).parent().closest('li').length ){

            e.stopPropagation();

            var pli = $(this).parent().closest('li');

            // checking if the parent main menuitem is active or not

            if( !pli.hasClass('active') ){

                pli.addClass('active').siblings().removeClass('active');
                $('#content > section').removeClass('active').eq( pli.index() ).addClass('active');
            }

            // submenu 子菜单

            $('#content > section.active > article').removeClass('active').eq( $(this).index() ).addClass('active');

            // setting variables 设置变量

            hash = $(this).data('deeplink');
            subNav = ' / ' + $('#sidebar .active .active').text();

        }else{

            // main menu 主菜单

            $('#content > section').removeClass('active').eq( $(this).index() ).addClass('active');

            var dl = $(this);

            // selecting the first submenu 选择第一个子菜单

            if( $(this).find('li').length ){

                $(this).find('li').removeClass('active');
                dl = $(this).find('li:first').addClass('active');
                $('#content > section.active > article').removeClass('active').eq(0).addClass('active');

                // setting variable 设置变量

                subNav = ' / ' + $('#sidebar .active .active').text();
            }

            // setting variable

            hash = dl.data('deeplink');
        }

        // changing curnav

        $('#curnav').text( $('#sidebar li.active > span').text() + subNav );

        // changing hash

        document.location.hash = hash;

        // fading in 渐显

        $('#content > section.active').css('display','none').fadeIn(200);
    });

    if( document.location.hash ){

        $('#sidebar li[data-deeplink="'+document.location.hash.split('#')[1]+'"]').click();
    }

    if( typeof layerSliderTransitions !== 'undefined' ){

        // Init transition gallery
        transitionGallery.init();
    }
});


$(document).ready(function(){
    $('.skillbar').each(function(){
        $(this).find('.skillbar-bar').animate({
            width:$(this).attr('data-percent')
        },0);
    });
});



    </script>

</div>

