				<div class="con-me">
                    <div class="con-me1"><a href="{:U('Member/Profile/other')}">其它</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/qqBind')}">QQ绑定</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/wxBind')}">微信绑定</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/myInte')}">我的积分</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/myAva')}">头像修改</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/myPw')}">密码安全</a></div>
                    <div class="con-me1"><a href="{:U('Member/Profile/index')}">基本资料</a></div>
                    <div class="con-me2">个人资料设置</div>
                </div>