<div class="m-sidebar" style="border: 1px solid #ccc">
                    <div class="sidebar-ava">
                        
                        <div class="sidebar-abb">
                            <a href="#"><div class="sidebar-adc"><i class="fa fa-comments" ></i></div></a>
                            <a href="#"><div class="sidebar-adc"><i class="fa fa-heart" ></i></div></a>
                            <a href="#"><div class="sidebar-adc"><i class="fa fa-tablet" ></i></div></a>
                            <a href="#"><div class="sidebar-adc"><i class="fa fa-lock" ></i></div></a>
                            <a href="#"><div class="sidebar-adc"><i class="fa fa-user" ></i></div></a>
                        </div>
                        <div class="sidebar-adv"><img src="public/img/touxiang.png"></div>
                    </div>
                    <div class="sidebar-lv">
                        <div class="sidebar-rd1">会员等级:&nbsp;<span>新手上路</span>&nbsp;</div>
                        <div class="sidebar-rd1">账户安全:</div>
                    </div>
                    <div class="sidebar-fu">会员功能中心
                    </div>
                    <div class="sidebar-man">
                        <a href="{:U('Member/Profile/index')}">
                            <div class="sidebar-cd">
                                <i class="fa fa-user"></i>
                                <span>个人资料设置</span>
                            </div>
                        </a>
                        <a href="{:U('Member/Credit/index')}">
                            <div class="sidebar-cd">
                                <i class="fa fa-user"></i>
                                <span>信用认证中心</span>
                            </div>
                        </a>
                        <a href="{:U('Member/Message/index')}">
                            <div class="sidebar-cd">
                                <i class="fa fa-user"></i>
                                <span>金融宝消息中心</span>
                            </div>
                        </a>
                        <a href="{:U('Member/Borrow/index')}">
                            <div class="sidebar-cd">
                                <i class="fa fa-user"></i>
                                <span>借还款计划</span>
                            </div>
                        </a>
                        <a href="{:U('Member/Invest/index')}">
                            <div class="sidebar-cd">
                                <i class="fa fa-user"></i>
                                <span>投资收益情况</span>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-fu">我的应用</div>
                    <div class="sidebar-lv">
                        <a href="#"><div class="sidebar-ld"><img src="public/img/app1/visa.png"></div></a>
                        <div class="sidebar-ld">
                            <a href="#"><div class="sidebar-ld1">信用卡管理中心</div></a>
                            <a href="#"><div class="sidebar-ld2">轻松用卡&nbsp;免去账单烦恼</div></a>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="sidebar-fu">常见问题</div>         
                </div>