				<div class="con-me">
                    <a href="{:U('Member/Profile/other')}"><div class="con-me1 other">其它</div></a>
                    <a href="{:U('Member/Profile/qqBind')}"><div class="con-me1 qqBind">QQ绑定</div></a>
                    <a href="{:U('Member/Profile/wxBind')}"><div class="con-me1 wxBind">微信绑定</div></a>
                    <a href="{:U('Member/Profile/myInte')}"><div class="con-me1 myInte">我的积分</div></a>
                    <a href="{:U('Member/Profile/myAva')}"><div class="con-me1 myAva">头像修改</div></a>
                    <a href="{:U('Member/Profile/myPw')}"><div class="con-me1 myPw">密码安全</div></a>
                    <a href="{:U('Member/Profile/index')}"><div class="con-me1 index">基本资料</div></a>
                    <div class="con-me2">个人资料设置</div>
                </div>